<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS Module 3 Exercise 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="mod2exercise10.css" />
    <script src="..\vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
        </ul>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>    
    <script src="exercise6.js"></script>
</body>
</html>
